.profile-header .media-heading {
	font-weight: bold;
}

.verticle-line {
    border-right: 1px solid #d0d0d0;
    height: 92px;
}

.well-card {
	border: 1px solid;
    background: #FFF;
    border-color: #f1f1f1 #e6e6e6 #d0d1d5;
    border-radius: 5px;
}

.well-feed {
	padding: 0;
}

.well-feed .body {
	padding: 15px;
}

.well-feed .footer {
    border-top: 1px solid #e0e0e0;
    padding: 15px 10px;
}

.well-feed .footer ul {
	margin-bottom: 0;
}

.well-feed .footer li {
	font-weight: 600;
}

.well-feed .media-heading {
	margin-bottom: 0;
	font-weight: 600;
}

.well-profile-card {
    padding: 40px;
    padding-right: 0px;
    margin-bottom: 3px;
}

.stats .number-label {
    font-size: 12px;
    color: #98aec5;
}

.stats .number {
	color: #4677af;
    font-weight: bold;
    font-size: 18px;
}

.stats {
    margin-left: 25px;
}

.stats li {
	margin-right: 16px;
}

.btn-primary {
	background: #4c77a4;
	border-color: #4c77a4;
    border-width: 2px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: #4c77a4;
	border-color: #4c77a4;
	color: #FFF;
}

.btn-default {
	background: transparent;
	border-color: #4c77a4;
	color: #4c77a4;
	border-width: 2px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
	background: #4c77a4;
	border-color: #4c77a4;
	color: #FFF;
}

.btn-width-std {
	width: 125px;
}

.meta-buttons .send-message {
	margin-bottom: 10px;
}

.well-profile-submenu {
    max-height: 59px;
    padding: 15px;
}

.well-profile-submenu li {
    margin-right: 40px;
    padding-bottom: 18px;
}

.well-profile-submenu ul {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.well-profile-submenu ul li:hover,
.well-profile-submenu ul li:focus,
.well-profile-submenu ul li:active {
	border-bottom: 3px solid #4c77a4;
}

.well-profile-submenu ul li.active {
	border-bottom: 3px solid #4c77a4;
}


.text-muted {
	color: #b9b9b9;
}

.navbar-default {
    background-color: #4c77a4;
    border-color: #4c77a4;
    border-radius: 0
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.well-bio .info-label {
	font-weight: 600;
    color: #4c77a4;
}

.well-bio .text {

}

.well-bio .header,
.well-photos .header {
	font-size: 16px;
}

.well-photos .inner {
    margin-top: 8px;
    border-top: 1px solid #e8e8e8;
    padding-top: 7px;
}

.well-bio ul {
    margin-top: 8px;
    border-top: 1px solid #e8e8e8;
    padding-top: 7px;
}

.well-bio ul .icon {
	margin-right: 8px;
}

.well-bio ul li {
	margin-bottom: 10px;
}

.icon {
	color: #c5c5c5;
}

.well-photos .col-xs-2 {
	width: 15.65%;
    margin-bottom: 6px;
    padding-right: 0;
    padding-left: 14px;
}

.text-primary {
    color: #4677af;
}

.well-status-post textarea {
    outline: 0px;
    border: 0px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #f3f3f3;
}

.media-heading {
	font-weight: 600;
}

.status-text-holder {
	margin-top: 15px;
}

.well-status-post {
	padding: 15px;
}

.about-us {
	font-size: 12px;
  padding-left: 3px;
}

.like-btn,
.share-btn {
  cursor: pointer;
  font-size: 2em;
  top: 15px;
  position: relative;
}

.well-feed .media {
  min-height: 78px;
}

.text-danger {
  color: #f75252;
}

.delete-post {
  cursor: pointer;
}

.delete-post:hover,
.delete-post:focus,
.delete-post:active {
  color: #8a8a8a;
}
