%script#private-chat-box-template{:type => "text/x-handlebars-template"}
  .private-chat-box{:style => "right:{{position}}px", "data-user-id" => "{{id}}"}
    .private-box-header
      .media
        .media-left
          %img.media-object.img-circle{:src => "{{picture}}", :width => "34"}/
        .media-body
          %h5.media-heading.fwn {{firstName}} {{lastName}}
          %small.is-typing.hidden Is typing...
    .messages
      .rows

    .input
      %input.message-input{:name => "message", :type => "text", "data-user-id" => "{{id}}"}/
