%script#people-list-template{:type => "text/x-handlebars-template"}
  .person{"data-user-id" => "{{id}}", "data-username" => "{{username}}", "data-picture" => "{{profile_picture}}", "data-first-name" => "{{first_name}}", "data-last-name" => "{{last_name}}", :class => "{{online}}"}
    .row
      .col-xs-3
        %img.people-thumb{:src => "{{profile_picture}}"}/
      .col-xs-6.people-info
        %span.small.mood HAPPY
        %span.small.last-chat.pull-right 5 min ago
        %p.name
          {{first_name}}
        %i.small Hey wassup
