- content_for :title do
  Connecting your college to you
- content_for :pagecss do
  - stylesheet_link_tag "index/index.css"
- content_for :body do
  .container
    .row
      .col-md-12
        .col-md-6
          .logo
            %h2
              %span> C
              ollegetrends
          %img.img-hero{:src => "/assets/sprites/hero-image.png"}/
        .col-md-5
          %h1.hero-text Connecting Colleges
          %p.side-kick-text Join. Explore. Connect
          %p.hero-buttons
            %a.btn.btn-primary.btn-facebook{:href => "#{user_facebook_omniauth_authorize_path}"}
              %span.icon-facebook
              Login with Facebook
            %button.btn.btn-default.btn-email.hidden
              %span.icon-email
              Signup with Email
          %p.small-hero-text
            .hidden
              By login in or signup you agree to our
              %a{:href => ""} Terms
              and
              %a{:href => ""} privacy
              policy.
              Is your college not listed? Get it listed by clicking
              %a{:href => "#"} here
              %br/
            © Collegetrends 2017 [BETA v1.0]
  .container-fluid
    .row
      .col-md-12
        .connections-container
          .connection
- content_for :pagejs do
  /- javascript_include_tag "helpers/posts/firefly.posts.js", "helpers/chat/firefly.chat.js", "home/firefly.home.js"
