.well.well-md.well-card.well-bio
  %span.header
    %span.icon.icon-user
    Bio
  %ul.list-unstyled
    %li
      %span.info-label
        %span.icon.icon-location
        From
      %span.text
        = @user.location
    %li
      %span.info-label
        %span.icon.icon-home
        Lives In
      %span.text
        = @user.home_town
    %li
      %span.info-label
        %span.icon.icon-heart-broken
        Relationship
      %span.text
    %li
      %span.info-label
        %span.icon.icon-pen
        Education
      %span.text
        = @user.college
