.well.well-md.well-card.well-bio
  %span.header
    %span.icon.icon-user
    Bio
  %ul.list-unstyled
    %li
      %span.info-label
        %span.icon.icon-location
        From
      %span.text Dallas TX
    %li
      %span.info-label
        %span.icon.icon-home
        Lives In
      %span.text Pao Aulto
    %li
      %span.info-label
        %span.icon.icon-heart-broken
        Relationship
      %span.text Single
    %li
      %span.info-label
        %span.icon.icon-pen
        Education
      %span.text BMS College of Engineering
