.well.well-sm.well-card.text-center.well-profile-submenu
  %ul.list-unstyled.list-inline
    %li.active
      %a{:href => ""} Stories
    %li
      %a.text-muted{:href => ""} Photos
    %li
      %a.text-muted{:href => ""} Videos
    %li
      %a.text-muted{:href => ""} Followers
