@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

body {
  background: #edeef0;
	font-family: 'Ubuntu', sans-serif;
}

.img-hero {
    width: 100%;
    position: relative;
    top: 50px;
}

@media (min-width: 1200px) {
	.container {
	    width: 1500px;
	}
}

.hero-text {
    color: #323754;
    font-size: 22px;
}

.side-kick-text {
	font-size: 1.9em;
	color: #323754;
}

a.btn {
  line-height: 2;
}

.mt60 {
    margin-top: 60px;
}

hr {
    border-top: 1px solid #dcdcdc;
}

.copyright-and-version-info {
    font-size:12px;
}

.new_user {
    padding: 20px;
}

.fw14 {
    font-size: 14px;
}

.btn-default {
    background: transparent;
    border-color: #4c77a4;
    color: #4c77a4;
    border-width: 2px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
	background: #4c77a4;
	border-color: #4c77a4;
	color: #FFF;
}

.btn-primary {
	background: #4c77a4;
	border-color: #4c77a4;
    border-width: 2px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: #4c77a4;
	border-color: #4c77a4;
	color: #FFF;
}

.hero-buttons .btn {
    width: 49%;
    height: 60px;
    font-size: 20px;
    margin-top: 20px;
}

.btn-facebook {
	background: #6577c2;
	border-color: #6577c2;
}

.small-hero-text {
    font-size: 105%;
    margin-top: 20px;
}

.logo {
    position: absolute;
    top: -33%;
}

.logo h2 {
    font-size: 20px;
    font-weight: bold;
    color: #676767;
}

.logo h2 span {
    background: #323754;
    color: #FFF;
    border-radius: 3px;
    padding: 5px;
}

.connections-container {
	background-image: url(https://hackerearth.global.ssl.fastly.net/static/hackerearth/images/homepage_2/min/community.jpg);
    background-position: right;
    border-top: 1px solid #e5e7e8;
    box-sizing: border-box;
    color: rgba(50,55,84,0.8);
    height: 150px;
    margin: 0 auto;
    padding: 50px 15px;
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 50px;
}

.connections-container:before {
    background: #fff;
    background: -moz-linear-gradient(left,#fff 0,rgba(255,255,255,0.7) 70%,rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top,right top,color-stop(0,#fff),color-stop(70%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,0.4)));
    background: -webkit-linear-gradient(left,#fff 0,rgba(255,255,255,0.7) 70%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,#fff 0,rgba(255,255,255,0.7) 70%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,#fff 0,rgba(255,255,255,0.7) 70%,rgba(255,255,255,0) 100%);
    background: filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff 0,endColorstr=rgba(255,255,255,0.7) 70%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.connection {
	height: 100%;
    margin: auto;
    max-width: 1100px;
    position: relative;
    width: 100%;
    padding-top: 60px;
}

.well-login,
.well-signup {
    padding: 0px;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border: 0;
    width: 320px;
}

.signin-inner {
    padding: 35px;
    padding-bottom: 16px;
}

#first-name {
    width: 49.8%;
}

#last-name {
    width: 48.5%;
}

.wf {
    width: 100%;
}

.well-signup {
    padding: 0;
}

.well-signup .form-horizontal {
    padding: 0 35px;
}

.signup-masthead {
    padding: 20px;
    font-size: 18px;
    padding-bottom: 0;
}

.input-vk {
    border: 1px solid #d3d9de;
    outline: 0;
    font-size: 14px;
    padding: 6px 12px 8px;
    box-sizing: border-box;
    height: 35px;
    border-radius: 3px;
    width: 100%;
}

.signup-facebook {
    text-align: center;
    border-top: 1px solid #edeef0;
    padding: 15px;
}

.signup-facebook a {
    font-size: 14px;
}

.btn-login {
    width: 100%;
    font-size: 14px;
}

.nmb {
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}