.about-us
  %ul.list-inline.hidden
    %li
      %a{:href => "#"}
        About Us
    %li
      %a{:href => "#"}
        Learn More
    %li
      %a{:href => "#"}
        Contact
    %li
      %a{:href => "#"}
        FAQ
    %li
      %a{:href => "#"}
        Sitemap
    %li
      %a{:href => "#"}
        Terms
    %li
      %a{:href => "#"}
        Privacy Policy
  .copy.small.text-muted
    Copyright © 2017 CollegeTrends. All rights reserved.
