<% content_for :nav_bar do %>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          LOGO TEXT
        </a>
      </div>
    </div>
  </nav>
<% end %>
